<div class="article_teaser">

<div class="article_teaser_item">
	<p class="message_body_text"><%= @message.body_text %></p>
</div>

<div class="article_teaser_item">
	<p>by: <%= @message.nick %></p>
</div>

</div>