<div class="article">
		<h1><%= @article.title %></h1>
		<h2><%= @article.subtitle %></h2>
		<p class="article_resume"><%= @article.resume %></p>
		<p class="article_body_text"><%= @article.body_text %></p>
</div>