<div class="article_teaser">

<div class="article_teaser_item">
	<h3><%= chat_teaser2.title %></h3>
</div>

<div class="article_teaser_item">
	<p>by: <%= chat_teaser2.customer %></p>
</div>
	
<div class="article_teaser_item">
	<div class="article_teaser_link">
		<%= link_to "Show", chat_path(chat_teaser2.id) %>
	</div>
</div>

</div>