<div class="article_teaser">

<div class="article_teaser_item">
	<h3><%= chat_teaser.article_title %></h3>
</div>

<div class="article_teaser_item">
	<p><%= chat_teaser.title %></p>
</div>

<div class="article_teaser_item">
	<p>by: <%= chat_teaser.customer %></p>
</div>
	
<div class="article_teaser_item">
	<div class="article_teaser_link">
		<%= link_to "Show", chat_path(chat_teaser.id) %>
	</div>
</div>

</div>