<div class="article_teaser">

<div class="article_teaser_item">
	<p class="message_body_text"><%= chat_message.body_text %></p>
</div>

<div class="article_teaser_item">
	<p>by: <%= chat_message.nick %></p>
</div>

</div>