// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a:link{
	background-color: black;
	color: green;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
}

.col-15 input[type=button], input[type=submit], input[type=reset] {
	background-color: black;
	border: 2px solid green;
	color: green;
	padding: 0;
	text-decoration: none;
	font-family: "lucida console", serif;
}

.col-15 input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	background-color: green;
	color: black;
  cursor: pointer;
}

.col-15 input[type=button]:focus, input[type=submit]:focus, input[type=reset]:focus {
	outline: none;
}

input[type=submit]{
	float: none;
}

label{
	padding: none;
}

.col-25{
	float: left;
	width: 24%;
	margin: 6px 0 0 0;
	display: inline-block;
}

.col-60{
	float: left;
	width: 60%;
	margin: 6px 0 0 0;
	display: inline-block;
}

.col-15{
	float: left;
	width: 15%;
	margin: 6px 0 0 0;
	display: inline-block;
}